<br><br><br><br><br>
<div ng-controller="ContractCtrl">

  <div class="panel-heading">
    <div class="row">
      <div class="col-md-2">
        <p>Начало</p>
      </div>
      <div class="col-md-2">
        <p>Конец</p>
      </div>
    </div>
    <div ng-controller="CalendarCtrl">    
      <div class="row">
        <div class="col-md-2">
          <p class="input-group">
           <input type="text" class="form-control" datepicker-popup="dd.MM.yyyy" ng-model="startdate" is-open="openedStart" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
           <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openStart($event)"><i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </p> 
      </div>
      <div class="col-md-2">
        <p class="input-group">
         <input type="text" class="form-control" datepicker-popup="dd.MM.yyyy" ng-model="enddate" is-open="openedEnd" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />

         <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="openEnd($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>


    </div>
  </div> 
</div> <!-- calendarctrl -->

<br/>

<div class="row">

 <div class="col-md-4">
  <input ng-model="searchText" type="text" class="form-control" id="dev-table-filter" data-action="filter"
  data-filters="#dev-table" placeholder="Ключевое слово" popover="По ключевому слову будет выполнен поиск контрактов" popover-trigger="mouseenter"  popover-placement="right"/> 
</div>
</div>

<br>

<div class="row">
  <div class="col-md-2">
    <p>
      <button ng-click="load()" popover="Нажмите искать, если вы определилсь со всеми параметрами" popover-trigger="mouseenter" class="btn btn-default" popover-placement="right">Искать</button>
    </p>
  </div>
</div>    

<p style="text-color:red;">{{message}}</p>


</div>



<div>    
  <div class="panel-body">
    <h5 class="panel-title">Всего: {{totalItems}}</h5>
    <pagination direction-links="false" items-per-page="itemsPerPage" total-items="totalItems" ng-change="pageChanged()" ng-model="currentPage" max-size="maxSize" boundary-links="true"  rotate="false" num-pages="numPages" first-text="Начало" last-text="Конец"></pagination>
  </div>

  <table class="table table-bordered" id="contract-table">
    <thead>
      <tr>
        <th colspan="4">Основное</th>
        <th colspan="1"></th>

        <th colspan="6">Продукт</th>

      </tr>
      <tr>
        <th>#</th>
        <th>Рег.номер</th>
        <th>Заказчик</th>
        <th>Цена</th>

        <th>Поставщик</th>

        <th>Продукт. Наименование.</th>
        <th>Продукт. ОКЕИ</th>
        <th>Продукт. Сумма.</th>
        <th>Продукт. ОКДП.</th>
        <th>Продукт. Цена.</th>
        <th>Продукт. Колличество.</th>
      </tr>
    </thead>
    <tbody >
      <p>{{contract.total}}</p>
      <tr ng-repeat="contract in contracts.data | filter:searchText">  
        <td>{{getIndex($index)}}</td>
        <td>{{contract.regNum}}</td>
        <td>{{contract.customer}}</td>
        <td>{{contract.price}}</td>

        <td>{{contract.suppliers}}</td>

        <td>{{contract.products.product.name}}</td>
        <td>{{contract.products.product.OKEI.code}}-{{contract.products.product.OKEI.name}}</td>
        <td>{{contract.products.product.sum}}</td>
        <td>{{contract.products.product.OKDP}}</td>
        <td>{{contract.products.product.price}}</td>
        <td>{{contract.products.product.quantity}}</td>
      </tr>


    </tbody>


  </table>
</div>
</div>  