<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="css/app.css"/>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">



  <!-- Custom Google Web Font -->
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

  <!-- Add custom CSS here -->
  <link href="css/landing-page.css" rel="stylesheet">
  <link href="css/loading-bar.min.css" rel="stylesheet">

</head>
<body>


  <nav class="navbar navbar-default navbar-fixed-top" role="navigation" bs-navbar>
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Аналитика госзакупок</a>
      </div>
      <ul class="nav navbar-nav">
        <li data-match-route="/?(navbar)?" ng-show="user.authenticated"><a href="#/contracts">Контракты</a></li>
        <li data-match-route="/page-one" ng-show="user.authenticated"><a href="#/view2">view2</a></li>
        
      </ul>

    <!--
<form ua-login>
	<input name="login" placeholder="Username"><br>
	<input name="password" placeholder="Password" type="password"><br>
	<p><button type="submit">Log in</button> or <a href="" ua-oauth-link="google">Log in with Google</a></p>

	<p ng-show="loading"><img src="https://app.userapp.io/img/ajax-loader-transparent.gif"></p>
	<p ng-show="error">{{ error.message }}</p>
</form>
-->

<form ng-show="!user.authenticated" ua-login class="navbar-form navbar-right" role="search">
  <div class="form-group">
    <p ng-show="loading"><img src="https://app.userapp.io/img/ajax-loader-transparent.gif"></p>
  </div>
  <div class="form-group">
    <input type="email" class="form-control" name="login" placeholder="Электропочта">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" name="password" placeholder="Пароль">
  </div>
  <button type="submit" class="btn btn-default">Войти</button>

  <p ng-show="error">{{ error.message }}</p>

</form>

<ul class="nav navbar-nav navbar-right" ng-show="user.authenticated">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.email }} <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li class="divider"></li>
      <li><a href="#">Профиль</a></li>
      <li><a href="#/login" ua-logout>Выйти из аккаунта</a></li>
    </ul>
  </li>
</ul>

</div>
</nav>



<!-- 
  <ul class="menu" ng-show="user.authenticated">
    <li><a href="#/view1">view1</a></li>
    <li><a href="#/view2">view2</a></li>
    <li><a href="#/login" ua-logout>log out</a></li>
  </ul>
-->
<div ng-view></div>


  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
-->
<script src="lib/angular/angular.js"></script>
<script src="lib/angular/angular-route.js"></script>

<script src="lib/angular/angular-resource.js"></script>
<script src="lib/angular/angular-animate.js"></script>
<script src="js/app.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
<script src="js/filters.js"></script>
<script src="js/directives.js"></script>

<script src="js/jquery-1.10.2.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="js/bootstrap.min.js"></script>

<script src="js/userapp.client.js"></script>
<script src="js/angularjs.userapp.js"></script>

<script src="js/loading-bar/loading-bar.min.js"></script>

<script src="js/ui-bootstrap-tpls-0.11.0.min.js"></script>

<script src="js/charts/ng-google-chart.js"></script>







</body>
</html>